@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';   
}

p{
    color: white;
    font-weight: 300; 
}

html,
body {
    background-color: black;
    margin: 1rem 1rem 2rem 1rem;
}

.img-logo {
    text-align: center;
}

.img-logo img{
    width: 45%;
}

main{
    padding-top: 2.5rem;
}

.text {
    text-align: center;
}

input {
    width: 90%;
    height: 2.2rem;
    background: none;
    border-bottom: 1px grey solid !important;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.text-title {
    padding-top: 2rem;
}

select {
    width: 90%;
    margin-top: 1rem;
    height: 2.2rem;
    background: none;
    border-bottom: 1px grey solid !important;
    border: none;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

select option {
    background-color: black;
    font-weight: 300;
}

.button-sub{
    margin-top: 3rem;
}

.button-sub button {
    width: 100%;
    height: 2.5rem;
    background: linear-gradient(to left,red, black);    
    color: white;
    border: none;
    border-radius: 1rem;
}

nav{
    margin-top: 3rem;
}

.welcome{
    text-align: center;
    padding-bottom: 2rem;
}

.redes-sociais{
    margin: 0em 6rem 0rem 6rem;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.redes-sociais img {
    width: 70%;
}


