@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
    font-family: 'Lato', sans-serif !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header{
    border-bottom: 3px solid rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
}

.button-formulario {
    padding-top: 1rem;
    text-align: center;
}

.button-formulario button{
    font-weight: 700;
    margin-top: 1.5rem;
    width: 18rem;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    background: #ff2c3d;
    color: white;
    
}

.frase-curso {
    padding: 15px;
    padding-top: 2rem;
    font-weight: 700;
    text-align: center;
}

.card {
    max-width: 19rem;
    text-align: center;
    margin: 2rem 3rem 1rem 3rem;
}

form {
    padding: 1rem 2rem 2rem 2rem;
}

.input-tema {
    font-weight: 700;
    color: #ff2c3d

}

.form-control{
    margin-top: 10px;
}

.background-imagem img {
    width: 100%;
    position: absolute;
    height: 25%;
    max-height: 35%;
}

.text-grad {
    position: absolute;
    padding: 5rem 0rem 0rem 2rem;
    color: white;
}

.text-grad p {
    padding-top: 7px;
    font-weight: 700;
    font-size: 22px;

}

.content-price {
    margin: 17.5rem 1rem 1rem 2rem;
}

.content-price p {
    padding-top: 10px;
}

.desconto {
    color: #ff2c3d;
}

.price-principal {
    font-size: 1.5rem;
}

.chamada {
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
}

.sobre-curso {
    padding: 1rem 2rem 2rem 2rem;
    text-align: justify;
}

.sobre-curso p{
    padding-top: 20px;
}

.informations {
    text-align: center;
    margin-bottom: 2rem;
}

.informations h1{
    color: #0f5b33;
    font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 900;
    font-size: 80px;
    line-height: .9;
}

.carga-horaria {
    margin-top: 20px;
}

.grade-curricular {
    margin: 1rem 6rem 2rem 6rem;
}

.grade-curricular a {
    color: white;
    text-decoration: none !important;
}

.informations h3 {
    font-size: 3rem;
    font-weight: 900;
    color: #0f5b33;
}

.consultor {
    margin-top: 30px;
}


